@import 'variables';

form {
  display: flex;
}

input {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;

  &[type='text'] {
    flex-basis: 0;
    flex-grow: 9;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border: 3px solid lighten($text, 65%);
    border-radius: 4px 0 0 4px;
  }

  &:focus {
    border: 3px solid lighten($text, 55%);
  }

  &:focus ~ button {
    &[type='submit'] {
      background-color: lighten($text, 55%);
    }
  }

  // &:focus ~ &[type='submit'] {
  //   background-color: lighten($text, 55%);
  // }

  // &[type='submit'] {
  //   flex-basis: 0;
  //   flex-grow: 1;
  //   padding: 10px 15px;
  //   background: lighten($text, 65%);
  //   border: 0;
  //   border-radius: 0 4px 4px 0;
  //   cursor: pointer;
  //   outline: none;
  // }
}

button {
  margin: 0;
  
  .fa-plus {
    color: $text;
    font-size: 18px;
  }

  &[type='submit'] {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px 15px;
    background: lighten($text, 65%);
    border: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
